
@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" disabled=""
          href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,500i,600,700,700i;display=swap"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="stylesheet" href="~/Content/Home.css">
    <link rel="stylesheet" href="~/Content/ProductIndex.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/ChiTietSanPham.css">
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="page-container">
        <header>
            @{ Html.RenderAction("_LoginUserClinet", "UserLogin");}
            <div id="header-bottom">
                <div class="container">
                    <div class="row-1">
                        <div class="visible-xs visible-sm"></div>
                        <div class=" first-logo">
                            <div class="logo-wrap">
                                <div class="svg-logo">
                                    <img src="~/image/images/bitis_logo1200.png" alt="">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                        <div class=" header-bottom-menu">
                            <ul id="main-menu" class="clearfix">
                                <li class="has-child">
                                    <a href="@Url.Action("Index", "Home", new { id = UrlParameter.Optional })">HOME</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductMaleIndex", "ProductMale", new { id = UrlParameter.Optional })">NAM</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductFemaleIndex", "ProductFemale", new { id = UrlParameter.Optional })">NỮ</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductGostoIndex", "ProductGosto", new { id = UrlParameter.Optional })">GOSTO</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductBeTraiIndex", "ProductBeTrai", new { id = UrlParameter.Optional })">BÉ TRAI</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductBeGaiIndex", "ProductBeGai", new { id = UrlParameter.Optional })">BÉ GÁI</a>
                                </li>
                                <li class="has-child">
                                    <a href="@Url.Action("ProductPhuKienIndex", "ProductPhuKien", new { id = UrlParameter.Optional })">PHỤ KIỆN</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-bottom-search">

                            @{ Html.RenderAction("_Search", "Search");}

                        </div>
                        @{ Html.RenderAction("CartCount", "CartCount");}
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop()) {
                            $('#header-bottom').addClass('sticky');
                        }
                        else {
                            $('#header-bottom').removeClass('sticky');
                        }
                    });
                });
            </script>
        </header>
        <main clas="main-content" style="padding-top:90px;">
            <section id="slider">
                <div class="slider-wrapper-outter">
                    <div class="wrapper">

                        @RenderSection("slider", required: true);

                    </div>

                </div>

            </section>
            <div class="announcement">
                <div class="container">
                    <div class="row-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="annuouncement-slider">
                                <div class="owl-wrapper-outter">
                                    <div class="owl-wrapper">
                                        <div class="owl-item">
                                            <div class="annuouncement-item">
                                                <img src="~/image/images/icon_announcemen_2.png"
                                                     alt="">
                                                <span class="annuouncement-title">
                                                    ĐỔI SIZE MIỄN PHÍ
                                                </span>
                                                <span class="annuouncement-text">
                                                    Tại tất cả cửa hàng trong vòng 1 tuần
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="owl-controls-clickable">
                                        <div class="owl-button">
                                            <div class="owl-prev">
                                                <span><i class="fas fa-angle-left"></i></span>
                                            </div>
                                            <div class="owl-next">
                                                <span><i class="fas fa-angle-right"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()

        </main>
        <footer>
            <seletion class="footer-hashtag">
                <div class="footer-hashtag-title">
                    <h2>
                        HASHTAG
                        <a href="#">
                            BITIS
                        </a>
                        ĐỂ CÓ CƠ HỘI XUẤT HIỆN TRÊN WEBSITE CHÚNG TÔI
                    </h2>
                </div>
                <div class="footer-hashtag-images">
                    <ul>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/1.png" alt="">
                            </a>
                        </li>

                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/2.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/3.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/4.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/5.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/6.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/7.png" alt="">
                            </a>
                        </li>
                        <li class="item-hashtag">
                            <a>
                                <img src="../image/mau/8.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </seletion>
            <section class="footer-email">
                <div class="container">
                    <div class="row-2">
                        <div class="footer-email-title-wrapper-outter">
                            <div class="footer-email-title">
                                ĐĂNG KÝ EMAIL ĐỂ NHẬN THÊM NHIỀU THÔNG TIN MỚI TỪ CHÚNG TÔI
                            </div>
                            <div class="footer-email-input">
                                <span><input placeholder="Nhập E-mail của bạn..."></span>
                                <span><button>Đăng ký</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="footer-info">
                <div class="container">
                    <div class="row-2">
                        <div class="footer-info-item">
                            <div class="item-info">
                                <h2 class="information">Lập Trình Web .HK3CQ2</h2>
                                <br />
                                <p class="
                            information">Full name : Đoàn Minh Khánh</p>
                                <p class="
                            information">Student code : 1924801030111</p>
                                <p class="
                            information">Class : D19PM02</p>
                            </div>
                            <div class="item-info">
                                <h2 class="information">Liên hệ</h2>
                                <br />
                                <p class="
                            information">Zalo : 0984943851</p>
                                <p class="
                            information">
                                    Facabook <a href="https://www.facebook.com/profile.php?id=100013505409162"
                                                target="_blank">Minh Khánh</a>
                                </p>
                                <p class="
                            information">Email : khanhdoan693@gmail.com</p>
                                <p class="
                            information">SĐT : 0984943851</p>
                            </div>

                            <div class="item-info">
                                <span>
                                    <h1>Have a nice day, see you soon... </h1>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <section id="footer-bottom">
                <div class="container">
                    <div class="row-2">
                        <div class="footer-bottom-item">
                            <span>
                                <h1>Website bán giày dép của công ty TNHH ABC </h1>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <div id="BackTop" >
            <i class="fas fa-chevron-up"></i>
        </div>
        <script>
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop()) {
                        $('#BackTop').fadeIn();
                    }
                    else {
                        $('#BackTop').fadeOut();
                    }
                });
            });
            $('#BackTop').click(function () {
                $('htmt,body').animate({ scrollTop: 0 } , 500);
            })
        </script>
    </div>
</body>


</html>
